* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #0d1462;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
main {
  z-index: 100;
  height: 100%;
}
.background-image {
  position: absolute;
  background-image: url("./img/burj-khalifa.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: url("#002059") blur(3px) saturate(1);
  z-index: -5;
}
.home {
  max-width: 1535px;
  margin: auto;
  padding-top: 1.4rem;
  z-index: 10;
}
header {
  width: 90%;
  margin: auto;
  color: white;
}
header a {
  color: white;
}
.logo img {
  width: 80px;
  height: 80px;
}
/*=====================
=====nav toggle==============
=======================*/
h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

/*=====================
=====nav==============
=======================*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  border-radius: 0 0 10px 10px;
}
.logo {
  z-index: 10;
}
nav h1 {
  font-size: 2rem;
}
nav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
nav ul li {
  opacity: 0.9;
}
nav a {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
nav ul li a:hover {
  opacity: 0.5;
}
nav button {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  color: #fb2576;
  border: none;
  border-radius: 1rem;
  z-index: 10;
}
nav button:hover {
  background-color: #fb2576;
  color: white;
  opacity: 0.6;
}

/*=====================
=====home==============
=======================*/
.hero {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
}

.content,
.location {
  z-index: 10;
  flex: 1;
}

.content {
  margin-bottom: 6rem;
  text-align: center;
}
.content h2 {
  font-size: 6rem;

  color: #fff;
  font-weight: 700;
  margin-bottom: 5rem;
}
.cta button {
  border: none;
  background-color: #fb2576;
  color: white;
  padding: 1rem 2rem;
  margin-right: 2rem;
  font-size: 1.7rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease all;
}
.cta button:hover {
  background-color: #fff;
  color: #fb2576;
}
/*=====================
=====ticket==============
=======================*/

.ticket-card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4.5px);
  width: 90%;
  margin: auto;
  padding: 2rem 5rem;
  border-radius: 1rem;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.form-input {
  display: flex;
  align-items: center;
  background-color: #ffff;
  border-radius: 1rem;
  width: 30%;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  overflow: hidden;
}
i {
  z-index: 100;
  color: black;
  margin-left: 1rem;
  font-size: 1.3rem;
  color: #fb2576;
}

.first-input {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.first-input input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
}
.ticket-card input:not(.long) {
  border: none;
  outline: none;
  width: 100%;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.ticket-card select {
  width: 85%;
  border: none;
  outline: none;
  padding: 1.2rem 0rem;
  border-radius: 0.5rem;
}
.ticket-card button {
  width: 30%;
  height: 100%;
  border: none;
  outline: none;
  padding: 1rem 1rem;
  border-radius: 0.5rem;

  margin-bottom: 1rem;
  color: white;
  background-color: #fb2576;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease all;
}

.ticket-card button:hover {
  background-color: #fff;
  color: #fb2576;
}

/*=====================
=====  wave==============
=======================*/

.home-wave {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 112vh;
  left: 0;
  z-index: -1;
}

/*=====================
=====about us==============
=======================*/
.about-us {
  margin-top: 100rem;
  padding: 5rem 0;
  width: 90%;
  margin: auto;
  z-index: 100;
}
h4 {
  font-size: 5rem;
  color: #6fdfdf;
  z-index: 100;
  margin-top: 5rem;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content p {
  color: #ffff;
  font-size: 2rem;
  opacity: 0.6;
  padding-right: 7rem;
}
/*=====================
=====destination==============
=======================*/
.destination {
  width: 90%;
  margin: auto;
}

.destination-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 3rem;
}

.new-york {
  width: 100%;
  position: relative;
  grid-column: 1/2;
}
.new-york:hover .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
}

.price h5 {
  font-size: 2rem;
}
.chawn {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
}
.chawn:hover .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.3s all ease;
}
.paris {
  grid-row: 2/4;
  position: relative;
}
.paris:hover .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.3s all ease;
}
.maldievs {
  position: relative;
}
.maldievs:hover .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.4s all ease;
}
.destination img {
  cursor: pointer;
}
.destination img:hover {
  filter: blur(10px);
  transform: scale(10px);
}
.price {
  text-shadow: 1px 1px 2px black;
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
  width: 100%;
  height: 100%;
  padding: 3rem 9rem;
  color: white;
  cursor: pointer;
}
.price:hover {
  backdrop-filter: blur(10px);
}

.destination button {
  font-size: 1.3rem;
  padding: 0.8rem 1.3rem;
  background-color: #fb2576;
  color: #ffff;
  border: none;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.destination button:hover {
  background-color: #fff;
  color: #fb2576;
}

.buttons {
  display: flex;
}

/*=====================
=====contact Us==============
=======================*/
.contact-us {
  width: 90%;

  margin: auto;
  z-index: 100;
}
.contact-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 3rem;
}

.contact-card {
  text-align: end;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 40%;
  margin: auto;
}
.contact-card input {
  display: block;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}
textarea {
  outline: none;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}

.contact-card button {
  margin: 1rem 0;
  width: 40%;
  cursor: pointer;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  background-color: #fb2576;
  border: none;
  color: #ffff;

  border-radius: 1rem;
}

.contact-card button:hover {
  background-color: #fff;

  color: #fb2576;
}

/*=====================
=====  wave==============
=======================*/

/*=====================
=====Footer==============
=======================*/
footer {
  background-color: #fff;
  padding-bottom: 4rem;
  width: 100%;
}
.footer-head {
  width: 75%;
  margin: auto;
  text-align: center;
}
.main-footer {
  background-color: #fff;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-logo {
  width: 6rem;
  height: 6rem;
}
.link {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

footer i {
  font-size: 2rem;
  color: #0d1462;
}
footer p {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0rem 1rem;
  color: #0d1462;
}
footer a {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
footer a:hover {
  transform: scale(110%);
  color: #fb2576;
}
/*=====================
=====media==============
=======================*/

@media only screen and (max-width: 1000px) {
  .content h2 {
    margin-top: 3rem;
    font-size: 4rem;
  }
  .ticket-card {
    padding: 2rem;
  }
  .about-us h4 {
    margin: 0;
    font-size: 4rem;
  }
  .about-us p {
    margin: 0;
    font-size: 1.3rem;
  }
  .contact-card {
    width: 90%;
    padding: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  body {
    text-align: center;
  }
  .content h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  nav ul {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    transform: translateX(-50%);
    justify-content: space-between;
  }
  nav li {
    margin: 0 1rem;
  }
  .ticket-card {
    padding: 2rem;
  }
  .about-us h4 {
    margin: 0;
    font-size: 4rem;
  }
  .contact-body {
    display: block;
  }
  .contact-body iframe {
    width: 100%;
    margin: 3rem auto;
  }
  .about-content {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .about-content p {
    padding: 0;
    margin: 2rem 0;
    text-align: center;
  }
  .about-content video {
    width: 100%;
  }
  .destination-content {
    display: block;
    padding: 1rem;
    width: 100%;
    margin: auto;
  }
  .destination-content img {
    margin-top: 1rem;
    width: 100%;
    height: 300px;
  }
  .contact-card {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
  }

  .main-footer {
    display: block;
  }
  .footer-logo {
    margin: 2rem 0;
  }
  .social-media {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .ticket-card input {
    width: 100%;
  }
  .form-input {
    width: 100%;
  }
  .cta button {
    margin: 1rem 0;
  }
}
